* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393e46;
    gap: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #c3195d;
    color: #ffffff;
}

header div {
    font-size: 32px;
    font-weight: 600;
}

.main {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.side-panel {
    border: 2px #ffffff solid;
    border-radius: 5px;
    min-height: 85vh;
    max-height: 100%;
    width: 30%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.side-panel-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.project-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.project-card {
    width: 92%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border: 2px #ffffff solid;
    border-radius: 5px;
    color: #ffffff;
}

.project-title {
    font-weight: 600;
}

.edit-delete-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-delete,
.project-edit {
    border: none;
    background-color: transparent;
    width: 28px;
    height: auto;
}

.project-delete img {
    user-select: none;
}

.project-delete:active,
.project-edit:active,
.project-add-btn:active {
    transform: scale(0.90);
}

.project-add-btn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: auto;
}

.content {
    border: 2px #ffffff solid;
    border-radius: 5px;
    min-height: 85vh;
    max-height: 100%;
    width: 90%;
    padding: 18px;
}

.edit-title-input {
    width: 100%;
    height: 20px;
    border: none transparent; 
    outline: none; 
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.edit-title-input:active {
    border: none;
}

.task-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.task-card{
    width: 98%;
    border: 2px #ffffff solid;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    padding: 8px;
}

.task-title {
    min-width: 150px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.task-description {
    min-width: 300px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.task-priority-low,
.task-priority-mid,
.task-priority-high {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.task-priority-low {
    background-color: #42b883;
}

.task-priority-mid {
    background-color: #ffc13c;
}

.task-priority-high {
    background-color: #dc2f2f;
}

.task-due-date {
    max-width: 125px;
}

.task-edit,
.task-delete {
    border: none;
    background-color: transparent;
    width: 28px;
    height: auto;
}

.task-delete:active,
.task-edit:active,
.task-add-btn:active {
    transform: scale(0.90);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-create-new-task {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
}